
		  #lanzar{ padding: 20px; width: 400px; height: 400px; color:white; background: black; margin-top: 50px}
		  
		  #card-body{width: 400px; position: absolute; left: -500px }
		  .Fracesillas{text-align: center;}